@import "tailwindcss";

:root {
  font: 18px/145% system-ui, 'Segoe UI', Roboto, sans-serif;
  letter-spacing: 0.18px;
  background: #080809;
  color: #9ca3af;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
  background: #080809;
}

#root {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
